/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

#kbucket-logo {
    color:#ffffff;
    font-weight: 600;
    text-align: center;
}

/* info section */
.info-box-left,.info-box-right {
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 300px;
    width:40%;
    font-weight:600;
}

.info-box-left {
    /*clear:right;*/
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.info-box-right {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    /*float:right;*/
}

.info-box-circle {
    display: block;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
     width: 30%;
     /*position: relative;*/
    border: 1px solid black;
    background-color:#fbd850;
}


/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#home {
    background: url(../images/The-Brain-Background.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
