@charset "utf-8";
/* CSS Document */
#kb-wrapper *{ margin:0 auto; padding:0;font-family: tahoma;font-weight:normal;outline:none;text-decoration:none;text-align:left;list-style:none;height:auto;overflow:hidden;}
#kb-wrapper,#kb-header,#kb-menu,#kb-submenu,.kb-item h3,.con_suggest p,.tag:before,#kb-items .rating {width:100%;}
#kb-wrapper li {display:inline-block;}

/* Floats */
#kb-search,#kb-search input,#kb-menu,#kb-submenu{float:left;}
.kb-right-cont,.kb-sort{float:right;}

/* Font sizes */
.tag,.kb-item{font-size:13px;}
#kb-menu a,#kb-submenu ul li a,.kb-item p,.con_suggest p label{font-size:12px;}
#kb-tags-wrap h3,#kb-items .rating b,.tag3{font-size:15px;}

/* Text Aligns */
#kb-wrapper input, #kb-menu li, #kb-submenu li,.kb-tags p {text-align: center;}

#kb-menu,#kb-tags-wrap a{line-height:30px;}

#kb-wrapper {width:100%!important;margin: 0 auto!important;text-align: center;padding:8px!important;}
#kb-wrapper h2 {font-size:26px!important; width:90%;font-family:Tahoma, Geneva, sans-serif !important;}
#kb-wrapper h1{ width:90%;margin-top:15px; margin-left:10px;}

#kb-search {display:none;}
#kb-search{ float:right;margin-left:10px;margin-right:10px;margin-bottom:16px!important;}
#kb-search input[type=text]{
    background-color: #FFFFFF !important;
    border: 1px solid;
    height: 27px !important;
    width: 259px !important;
    margin-right:4px;
    text-align: left;
    padding: 2px;
}
#kb-search input[type=submit]
{
    height: 27px !important;
    width: 80px !important;
    -moz-box-sizing:none!important;
}
#kb-share-buttons{margin-right:20px;float:right:}
.kb-share-button span {width:80px;height: 80px;}

#kb-menu{height:22px;line-height:22px;border-bottom:1px solid #ddd;margin-top:10px;}
#kb-menu li{background-color:#D1D5D9;border-radius: 4px 4px 0 0;color: #000000!important;margin-right: 1px;padding: 0 7px;}
#kb-menu a{color:#000!important;}
#kb-menu a:hover{color:#666!important;}
#kb-submenu{height:26px;line-height:26px;margin-bottom:10px;background:#e2e8f1;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;	behavior: url(border-radius.htc); margin-top:2px;}
#kb-submenu ul li{ background:none!important;}
#kb-submenu ul li a{color:#000!important;margin-left:10px;}
#kb-submenu ul li a:hover{color:#666!important;}
.kb-menu-active{font-weight:bold!important;background:none;}
#kb-suggest{position:fixed;top:40%;right:0px;z-index:90;}
#kb-suggest-box input {width:60%}

#kb-rss{display:inline-block;}
#kb-items{ float:left!important;width:65%!important;margin-top:10px;margin-right:10px;}

#kb-rss { background:url(../images/rss_icon.png) no-repeat left; color:#f67b1f;line-height:20px; padding: 0px 10px 0px 26px;}
#kb-items-list{width:100%;margin-top:20px;margin-bottom:30px;}
.kb-item{margin-bottom: 14px!important;}
.kb-item h3{font-size:16px; text-transform: none !important;margin:0px!important;padding:0px!important;}
.kb-item p{margin:0px !important;}
.kb-item-date{margin-left:20px!important;}

#kb-tags-wrap{float:right!important; width:26%!important;}
.kb-tags{background-color:#f7f8fa;border:solid 1px #c2c7cc;padding:10px!important;margin-bottom:20px!important;}
.kb-tags h3{
    margin-top: 18px;
    text-transform: uppercase;
}

.kb-sort{display: inline-block;background-color:#e2e8f1;border:solid 1px #c2c7cc;padding-left:30px!important;padding-right:30px!important;}
.kb-sort a{margin-left:5px;}


/*.tag3{color: #FFF;}
.tag4{font-size:14px;}
.tag5{font-size:17px; font-weight:bold;}*/
.but{ width:30px; float:left; padding:12px 0px 12px 0px;}
.but img{ margin-top:2px; border:none;}
.but a{ background:none;}
.con_suggest{ width:95%;margin-top:15px;}
.con_suggest h1{ margin-bottom:20px;}
.con_suggest p{margin:5px;}
.con_suggest p label{ width:40%;text-align:right;}
.con_suggest p span{ width:40%;margin-left:10px;}
#kb-pagination{text-align: center;margin-bottom:30px!important; }
#kb-pagination a{ margin-left:2px; text-decoration:underline!important;}
#kb-pagination a.selected{font-weight:bold;}
#kb-pages-count{float:left;font-weight: bold}

iframe#TB_iframeContent {
    min-height:500px!important;
    overflow-y:scroll;
}
#TB_iframeContent{ overflow:hidden; overflow-y:hidden!important;}

.share-image {
    width:80px;
    height:80px;
}

#messages {
    margin:6px;
}

.updated {
    width:90%;
    padding:5px;
    margin:0px !important;
}

.updated-success {
    color:green;
    font-weight: bold;
}

.updated-error {
    color:red;
}

.updated-note {
    color:black;
}

.kb-hlt {
    color:#ad6704;
}

#button-save-sticky {
    margin-left:80px;
    display: none;
}

.kbucket-tabcontent {
    text-align:left;border-top:1px solid gray; width:700px; margin-bottom: 1em; padding: 10px;
}
.kbucket-tabcontent td,.kbucket-tabcontent th{
    text-align:left !important;padding: 10px;
}
.kbucket-tabcontent th, .kbucket-tabcontent td {text-align: center;}

.kbucket-input50 { width:50px;}
.kbucket-input100 { width:50px;}
.kbucket-td-w30 {width:30%;text-align:left;height:40px;}
.kbucket-td-w30 {width:65%; text-align:left;}
.kbucket-td-w3-w5 { width:5%;text-align:center;}
.kbucket-text-left {text-align: left;}
.kbucket-text-left-h40 {text-align: left;height: 40px;}
.kbucket-text-right {text-align: right;}
