@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; font-family:Arial!important; list-style:none; outline:none;}
a{ text-decoration:none;}
#kb-wrapper{ width:100%; margin:0 auto; overflow:hidden; float:left}
#kb-wrapper h2 { font-size:26px!important; width:90%; height:auto; float:left; /*margin: 15px 0 0 35px; Overall Height*/font-family:Tahoma, Geneva, sans-serif !important;}
#kb-wrapper h1{ width:90%; float:left;  margin-top:15px; margin-left:10px;}
#kb-header {width:100%;}
#kb-share{float:right; margin-right:20px;}
#kb-share-box{float:right; margin-right:20px;}

#kb-search{ width:480px;float:right;margin-right:10px}
#kb-search input[type=text]{background-color: #FFFFFF !important;
    border: 1px solid;
    float: right;
    height: 27px !important;
    padding: 0 !important;
    width: 259px !important;
    margin-right:4px;
}
#kb-search input[type=submit]
{
    float: right !important;
    height: 27px !important;
    width: 80px !important;
    -moz-box-sizing:none!important;

}

#kb-menu{ width:100%; float:left; height:40px; line-height:40px; border-bottom:1px solid #ddd;}
#kb-menu{ width:100%; height:30px; float:left; line-height:30px; margin-top:10px; margin-bottom:1px!important;}
#kb-menu a{background: none repeat scroll 0 0 #999999;border-radius: 4px 4px 0 0;color: #000000!important;float: left;font-size: 12px;margin-right: 1px;padding: 0 7px;}
#kb-menu a:hover{ background:#666; color:#fff!important; text-decoration:none;}
#kb-menu ul{ float:left;}
#kb-menu ul li{ float:left; padding:0 10px 0 10px; }
#kb-menu ul li a:hover{padding:5px 0 5px 0;}

#kb-submenu{ width:100%; float:left; height:30px; background:#ddd; margin-left:0px;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;	behavior: url(border-radius.htc); line-height:30px;}
#kb-submenu ul{ float:left; margin:0 !important;}
#kb-submenu ul li{ float:left; margin:0px!important; padding:0 0 0 10px!important}
#kb-submenu ul li{ background:none!important;}
#kb-submenu ul li a{color:#000!important;  padding:2px; font-weight: normal; font-size:12px!important;}
#kb-submenu ul li a:hover{color:#666!important; font-weight:normal; text-decoration:none!important;}

.kb-menu-active{font-weight:bold!important;}


#kb-suggest{position:fixed;top:200px;right:0px;z-index:90;}

/*.entry-content, .entry-summary{ margin:0px;}*//*Overall Height*/
#kb-items{ width:70%; float:left; margin-top:10px;}
#kb-items .rss a{ background:url(../images/rss_icon.png) no-repeat left; color:#f67b1f; float:left; line-height:20px; padding: 0px 30px 0px 40px; margin-left:10px;}
#kb-items .sort{ float:right; padding:0px;}
#kb-items .sort span{ float:left;}
#kb-items .sort a{ background:none; float:left; padding:0;  padding-left:5px;}
#kb-items .sort a:hover{}
#kb-items .rating{ width:100%; float:left;}
#kb-items .rating b{  font-size:13px!important; margin:0 0 0 0!important;}

.kb-item{ width:98%; float:left; margin: 10px 10px 0px 10px; font-size:11px;}
.kb-item h3{  width:100%; font-size:16px; text-transform: none !important; margin-bottom:0;}
.kb-item p{  font-size:12px; margin: 3px 0 3px 0 !important;}
.kb-item span{  }
.kb-item .blue{ margin:0!important;}
.kb-item .blue span{}

#kb-tags-wrap{ width:25%; float:right; margin-bottom:15px;padding-top:25px;}
#kb-tags-wrap h3{
    margin-top: 18px;
    font-size: 13px;
    text-transform: uppercase;
}
#kb-tags-wrap a{ line-height:30px; padding: 4px 3px;margin: 3px 3px 0px 0px;}
#kb-tags-wrap a:hover{ text-decoration:none;}
.kb-tags{border: 1px solid #DDD;text-align: center;padding:2px;}

.tag1{font-size:11px;}
.tag2{font-size:13px;}
.tag3{color: #FFF;font-size:11px;}
.tag4{font-size:14px;}
.tag5{font-size:17px; font-weight:bold;}
.but{ width:30px; float:left; padding:12px 0px 12px 0px;}
.but img{ margin-top:2px; border:none;}
.but a{ background:none; padding:0;}
.con_suggest{ width:95%; float:left; margin-top:15px;}
.con_suggest h1{ margin-bottom:20px;}
.con_suggest p{ width:100%; float:left; margin:5px;}
.con_suggest p label{ width:40%; float:left; text-align:right; font-size:12px;}
.con_suggest p span{ width:40%; float:left; margin-left:10px;}
#pagination{ width:auto; float:left; margin-bottom:30px!important; margin-left:100px;}
#pagination a{ margin-left:2px; text-decoration:underline!important;}
#pagination a:hover{ }
#pagination a.selected{text-decoration:none!important; font-weight:bold;}

iframe#TB_iframeContent {

    min-height:500px!important;
    overflow-y:scroll;
}
.hlt{ }
#TB_iframeContent{ overflow:hidden; overflow-y:hidden!important;}
.FBConnectButton_Simple, .FBConnectButton_RTL_Simple { float:left;}

.tag:before {
    border-bottom: 1px solid #EEEEEE!important;
    bottom: 0;
    content: "";
    position: absolute;
    width: 100%;
}
.tag:after {
    border-bottom: 3px solid #F33F3F!important;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 25px;
}
.tag {
    font-size: 13px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.share-image {
    width:80px;
    height:80px;
}

.updated {
    width:90%;
    padding:5px;
    margin:0px !important;
}

.updated-success {
    color:green;
}

.updated-error {
    color:red;
}

.updated-note {
    color:black;
}

.font-bold {
    font-weight:bold;
}

.font-bold-important {
    font-weight:bold !important;
}

.kbucket-tabcontent {
    border-top:1px solid gray; width:700px; margin-bottom: 1em; padding: 10px;
}
.kbucket-tabcontent th,td {text-align: center;}

.kbucket-input50 { width:50px;}
.kbucket-input100 { width:50px;}
.kbucket-td-w30 {width:30%;text-align:left;height:40px;}
.kbucket-td-w30 {width:65%; text-align:left;}
.kbucket-td-w3-w5 { width:5%;text-align:center;}
.kbucket-text-left {text-align: left;}
.kbucket-text-left-h40 {text-align: left;height: 40px;}
.kbucket-text-right {text-align: right;}
