/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; }

/* Stack the two content containers */
.main,
.sidebar { display:block; width:100%; }

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
    .main { float: left; width:60%; }
    .sidebar { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
    .main { width:70%; }
    .sidebar { width:30%; }

    /* You can also tweak any other styles in a breakpoint */
    H1 { font-size:1.2em }
}
.kb-list-item {margin: 8px !important;margin-bottom: 20px!important;}
.kb-wrap {white-space: normal !important;margin-bottom: 20px!important;}
#kb-tags li,a{margin:0px!important;}
#kb-tags-open{width:70%}
.kb-tag-links{text-align:right;}
.kb-tag-link {padding:4px!important;margin-right:6px !important;}

#kb-footer {text-align: center;padding:10px}
#kb-version-switch {margin-top: 40px!important;}